{% extends "base.html" %}
{% block content %}
<br><br><br>
  <div class="wrapper">
    <form class="form-signin" method="post">       
      <h2 class="form-signin-heading">Please login</h2>
                <input autofocus class="form-control" placeholder="Username" type="text" name="username" value="{{username}}">
                <input class="form-control" placeholder="Password" type="password" name="password" value="">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          <div class="error">
        {{error}}
      </div>   
      <h5>
         <a href="/signup">Not registered? Click here to login</a>
      </h5> 
    </form>
</div>

{% endblock %}