{% extends "base.html" %}

<br>
<br>
<br>
{% block content %}
  {% if error %}
<div class="container">
  <div class="error">
    {{error}}
  </div>
  {% endif %}
  {{post.render() | safe}}

<hr>
    {% if post.comments %}

    <div class="comments">
      <h3>Comments</h3>       <a href="/blog/{{post.key().id()}}/newcomment">add new comment</a>


      {% for c in post.comments %}

        <div class="comment">
          <div class="comment-author">{{ c.parent().name }}</div>
          <p class="comment-content">{{ c.comment }}</p>
          <a href="/blog/{{post.key().id()}}/updatecomment/{{c.key().id()}}">Edit</a>
          <span class="separator"> | </span>
          <a href="/blog/{{post.key().id()}}/deletecomment/{{c.key().id()}}">Delete</a>
        </div>
</div>
      {% endfor %}

    {% endif %}

{% endblock %}
